@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Page style*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: relative;
}

.banner {
  background-image: url('../images/mybrand/BannerWeb.png');
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  width: 100%;
  height: 30vh;
     
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-contenido
{
  padding: 10px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  word-wrap: break-word;
}

.section-slider {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #350505, #052430, #07302e, #5a630b);
  background-size: 300% 300%;
  animation: color 20s ease-in-out infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}





.section-description{
  /*min-height: 40vh;*/
  background: #052430;

  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 1.4em;
  padding-top: 50px;
  padding-bottom: 30px;
  /*font-weight: 500;*/
}

.section-mycontent{
  /*min-height: 40vh;*/
  background-color: #0d2d35;
  
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  margin-top: -1px;
}

.boxbutton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;

  width: 340px;
  height: 100px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.boxbutton::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 340px;
  height: 90px;
  background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
  z-index: 1;
  transform-origin: center right;
  animation: animate 6s linear infinite;
}
.boxbutton::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 340px;
  height: 90px;
  background: linear-gradient(0deg, transparent, transparent, #fcff45, #fcff45, #fcff45);
  z-index: 1;
  transform-origin: center right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.boxbutton h3 {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 20px 5px;
  border-radius: 8px;
  z-index: 2;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 1.4em;
  letter-spacing: 2px;
  transition: 0.3s;
}
.boxbutton h3:hover {
  background: rgb(0, 122, 124);
}

.section-mycontent .mycontentImageDiv {
  background-color: #0b191f;
  border: 4px solid black;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.mycontentImage {
  width: 45%;
  height: auto;
  display: inline-block;
  padding: 6px;
}
@media screen and (max-width: 600px) {
  .mycontentImage {
    width: 100%;
  }
}


.section-closure {
  /*min-height: 40vh;*/
  background-color: #052430;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 1.4em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;

  margin-top: -1px;
  /*font-weight: 500;*/
}

.section-closure p {
  padding-bottom: 10px;
}
.section-closure .quoteDiv {
  background-color: #093755;
  border: 3px solid black;
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}

footer {
  background-color: #333333;
  padding: 5px;
  text-align: center;
  color:white;

  margin-top: -1px;
}